body {
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to top left, lightslategray, azure);
    border-left: 4px solid rgba(40, 40, 40, 0.25);
    border-right: 4px solid rgba(40, 40, 40, 0.25);
    padding-left: 15px;
    padding-right: 15px;
}

.headerbox {
    border: 10px solid rgba(112, 112, 112, 0.9);
    border-radius: 100%;
    width: 50vw;
    padding: 0;
    background-color: maroon;
    text-align: center;
    text-align: center;
    margin: 30px auto 10px;
}

.header {
    text-align: center;
    font-family: Verdana;
    font-style: italic;
    color: azure;
    font-size: 60px;
}

.startButton {
    text-align: center;
    margin: 20px auto 10px;
}

.generatedWord {
    text-align: center;
    font-size: 36px;
    font-family: Verdana;
    color: black;
    margin: 10px auto 10px;
}

#userInput {
    text-align: center;
    font-size: 36px;
    font-family: Verdana;
    background: none;
    border: 0px none white;
    margin: 10px auto 10px;

}

#execGame {
    margin: 20px auto 0;
    font-size: 36px;
    color: azure;
    text-align: center;
    background-color: mediumseagreen;
    border: 4px solid rgba(112, 112, 112, 0.5);
}

.buttonInstructions {
    margin: 0px auto 20px;
    font-family: Verdana;
    font-size: 8px;
}
