html {
    font-family: Verdana;
    color: azure;
    border-left: 15vw solid rgba(255, 255, 255, .1);
    border-right: 15vw solid rgba(255, 255, 255, .1);
}

body {
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to bottom right, hsl(248, 90%, 60%), hsl(25, 80%, 60%));
}

.header {
    display: inline-block;
    color: azure;
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    border-top: 10px solid azure;
    border-bottom: 10px solid azure;
}

.centerHeader {
    text-align: center;
    margin-bottom: 5vh;
}

.startButton {
    text-align: center;
    margin: 20px auto 10px;
}

.generatedWord {
    text-align: center;
    font-size: 64px;
    font-family: Verdana;
    color: azure;
    margin: 10px auto 10px;
}

#userInput {
    text-align: center;
    font-size: 36px;
    font-family: Verdana;
    background: none;
    border: 0px none white;
    margin: 10px auto 10px;

}

.buttonInstructions {
    margin: 0px auto 20px;
    font-family: Verdana;
    font-size: 8px;
}

#container {
    text-align: center;
}

#submitButton {
    background: transparent !important ;
    border: none !important;
    font-size: 0 !important ;
}

.flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: azure;
    text-decoration: none;
}

button[type="submit"]:not(#submitButton) {
    height: 96px;
    padding: 5 10px;
    background-color: azure;
    border: none;
    color: hsl(248, 90%, 60%);
    font-size: 48px;
    font-family: system-ui;
    margin: 5% auto;
    font-weight: bold;
    text-align: center;
}

#execGame {
    height: 256px;
    width: 256px;
    border-radius: 25%;
    padding: 5 10px;
    background-color: azure;
    border: none;
    color: hsl(248, 90%, 60%);
    font-size: 48px;
    font-family: system-ui;
    font-weight: bold;
    margin: 5% auto;
}

.numInputLabel {
    color: azure;
    font-size: 24px;
    font-family: Verdana;
    font-style: italic;
    margin: 1vh auto; 
}

#numInput, #userInput {
    font-size: 64px;
    color: azure;
    background: transparent;
    border: 4px solid azure;
    text-align: center;
}
#numInput {
    border-radius: 25%;
    height: 128px;
    width: 128px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:focus {
    outline: none;
}

#timer, #loading {
    font-size: 96px;
    font-family: Verdana;
    color: azure;
    text-align: center;
}

#loading {
    font-size: 48px !important;
}

#wordCycle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 36px;
    color: azure;
    font-family: Verdana;
    text-align: center;

}

#wall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: azure;
    font-family: Verdana;
    text-align: center;
}

#WPM, #ACC, #NUM {
    margin: 5px auto;
}

.postGameWords {
    margin: 0 4vw;
    margin-bottom: 5%;
}
